/*清除手机的一些基本样式*/  
		html {  
		    font-size:100%;  
		    width:100%;  
		    height:100%;  
		    -webkit-font-smoothing:antialiased;  
		}  
		body {  
		    text-align:center;  
		    -webkit-user-select:none;  
		    width:100%;  
		    height:100%;  
		    /*background:#fff;*/   /*默认背景颜色*/  
		    /*font-size:1.2rem;*/   /*默认字体大小*/  
		    /*color: #000;*/   /*默认字体颜色*/  
		    font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;  
		    -webkit-text-size-adjust:none;  
		}  
		* {  
		    margin:0;  
		    padding:0;  
		    list-style:none;  
		}  
		i, em, b {  
		    font-style:normal;  
		    font-weight:normal;  
		}  
		:-moz-placeholder {color:#ccc;}  
		::-moz-placeholder {color:#ccc;}  
		::-webkit-textarea-placeholder {color:#ccc;}  
		:-ms-textarea-placeholder {color:#ccc;}  
		  
		/*img{  
		    width:100%;  
		    vertical-align:top;  
		}  */
		input,textarea,select{  
		    -webkit-appearance:none;  
		    font-size:1.2rem;  
		    border:0;  
		    background:transparent;  
		    font-family:"黑体","Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;  
		    outline:none;  
		}  
		input,a,span{  
		    -webkit-tap-highlight-color: rgba(0,0,0,0);  
		}
		 
		/*-----------------------------------------------------------------------------------去除a标签的默认样式*/
		a{
			color: black;
			text-decoration: none;
		}
				  
		/*------------------------------------------------------------------------------------flex最外框*/  
		.page{  
		    display:-webkit-box;  
		    -webkit-box-orient:vertical;  
		    height:100%;  
		}  
		/*---------------------------------------------------------------------------------------flex内容区*/  
		.page .content{  
		    position:relative;  
		    -webkit-box-flex:1;  
		    -webkit-flex:1;  
		    flex:1;  
		    overflow:auto;  
		    -webkit-overflow-scrolling:touch;  
		  
		    /*background-color:#ccc;  */
		}  
		/*----------------------------------------------------------------------------------------flex头部*/  
		.header{  
		    display: -webkit-box;
		    font-size: 2rem;
		    height: 15rem;
		    display: flex;
		    flex-direction: row;  
		} 
		/*.header *{  
		    display: block;  
		}*/
		 
		 .header .logo img{
		 		margin-top: 1.6rem;
		 }
		 .header .user_avatar{
		 	display: flex;
		 	justify-content: center;
		 	text-align: center;
		 }
		 
		 .header .user_avatar img{
		 	width: 50%;
		 	height: 50%;
		 	border-radius: 50%;
		 	margin-top: 20%;
		 }
		
		.header_search{
			flex: 1;
			background-color: #CCCCCC;
			border-radius: 2rem;
		    margin: 1.4rem;
		    height: 50%;
		}
		
		.header_search input{
			height: 100%;
			width: 80%;
			margin: 0 auto;
		}
		
		.logo,.user_avatar{
		    flex: 0 0 100px;
		    
		 }  
		/*------------------------------------------------------------------------------------------------flex底部，按钮平均分布*/  
		.footer{ 
			
		    overflow: hidden;  
		    background:#fff;
		    font-size: 2rem;
		    height: 7rem;  
		}  
		.foot-nav{
			display: flex;
			 flex-direction: row;
			 flex: 1;  
		    display:-webkit-box;  
		    height: 100%;  
		    line-height: 1rem;
		    text-align: center;  
		}  
		.foot-nav *{  
		    display: block;  
		    -webkit-box-flex: 1;  
		    -webkit-flex:1;  
		    flex:1;  
		}
		
		.foot-nav dl{
			flex: 1;
			height: 100%;
		}
		
		.foot-nav dl dt{
			margin-top: 2px;
			
		}
		
		.foot-nav dl dd{
			margin-top: 7px;
		}
				
		.foot-nav dl dt img{
			margin: 0 auto;
		}
		
		.on{
		 	background-color: #83b0b6;
		 	color: #f8f8ff;
		 }
		
		.nav_on{
			color: #83b0b6;
		}
		@media only screen and (max-width: 500px) {
		 	.header{  
			    display: -webkit-box;
			    font-size: 2rem;
			    height: 7.4rem;
			    display: flex;
			    flex-direction: row;  
			} 
			
			.header .logo img {
			    margin-top: 1.5rem;
			    width: 100%;
			}
			
			.header .user_avatar img {
			    width: 60%;
			    height: 55%;
			    border-radius: 50%;
			    border: 1px solid #ccc;
			    margin-top: 25%;
			}
						 
			 
			.header_search{
				flex: 1;
				background-color: #f1ebeb;
				border-radius: 1rem;
				box-shadow: -1px -1px 1px #ccc;
			    margin: 1rem;
			    height: 50%;
			}
			
			.header_search input{
				height: 100%;
				width: 80%;
				margin: 0 auto;
				position: relative;
    			top: -0.7rem;
    			font-size: 0.9rem;
			}
			
			.logo,.user_avatar{
			    flex: 0 0 3.5rem;
			    
			 }
			 
			 /*----------------------------------------------------------------------------------------------模板适配样式*/
	
		 	.footer{
		 		height: 3.5rem;
		 		font-size: 0.8rem;
		 		
		 	}
		 	
		 	.foot-nav dl dt img{
		 		width: 1.8rem;
		 		height: 1.8rem;
		 	}
		 	
		 	.foot-nav dl dd{
				margin-top: 0.2rem;
				height: 1rem;
			}
		 	
		 	
		 }
		
		
		
	
